* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Trava as rolagens globalmente */
  background-color: #0b0e14;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}